@import url("../webfonts/ptn57f/stylesheet.css");

.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
}

/* css correspondiente a elementos de todas las secciones: logotipo,menu de navegación, redes y contacto */

#Box_logo {
    float: right;
    height: 75px;
    clear: none;
    width: 120px;
    min-height: 0px;
    position: absolute;
    top: 20px;
    left: auto;
    right: 20px;
}

#logotipoInddex {
    float: right;
    width: 120px;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    overflow-y: scroll;
    overflow-x: scroll;
    position: absolute;
    top: 0px;
    left: auto;
    right: 0px;
    display: block;
}

#Box_menu {
	float: right;
	height: auto;
	clear: none;
	width: 114.828125px;
	position: absolute;
	top: 86px;
	left: auto;
	right: 0;
	bottom: auto;
	display: block;
}

#texto_NOSOTROS:hover {
	text-decoration: line-through;
	font-family: "ptn57f";
}

#texto_NOSOTROS {
	float: right;
	font-size: 10px;
	width: auto;
	height: auto;
	text-align: right;
	font-weight: normal;
	line-height: 1em;
	clear: none;
	min-height: 0px;
	position: static;
	top: 0px;
	left: 0px;
	font-family: "ptn57f";
	letter-spacing: 1px;
	display: block;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin-top: 0px;
	margin-left: 0px;
	text-decoration: underline;
	margin-right: 0%;
}

#texto_TRABAJO:hover {
	text-decoration: line-through;
	font-family: "ptn57f";
}

#texto_TRABAJO {
	float: right;
	font-size: 10px;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	clear: both;
	min-height: 0px;
	position: static;
	top: 0px;
	left: 0px;
	font-family: "ptn57f";
	letter-spacing: 1px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin-top: 6px;
	margin-left: 0px;
	text-decoration: underline;
	margin-right: 0%;
	display: block;
}

#texto_CONTACTENOS:hover {
	text-decoration: line-through;
	font-family: "ptn57f";
}

#texto_CONTACTENOS {
	float: right;
	font-size: 10px;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	clear: both;
	min-height: 0px;
	font-family: "ptn57f";
	position: static;
	top: 0px;
	left: 0px;
	letter-spacing: 1px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin-top: 6px;
	margin-left: 0px;
	text-decoration: underline;
	margin-right: 0%;
	display: block;
}

#Box_redesSociales {
    float: left;
    height: 24px;
    clear: none;
    width: 120px;
    position: absolute;
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}

#iconoInstagram_inddex {
    float: right;
    width: 24px;
    max-width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    display: block;
}

#iconoFacebook_inddex {
    float: right;
    width: 24px;
    max-width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    display: block;
}

#iconoTwitter_inddex {
    float: right;
    width: 24px;
    max-width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    display: block;
}

#textosContacto-mail_telefono {
	float: left;
	font-size: 12px;
	width: 120px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	clear: both;
	min-height: 0px;
	position: absolute;
	top: auto;
	left: 20px;
	right: auto;
	font-family: "ptn57f";
	letter-spacing: 1px;
	bottom: 20px;
}

#iconoInstagram_inddex:hover {
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

#iconoTwitter_inddex:hover {
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

#iconoFacebook_inddex:hover {
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}


#SpanTextosContacto-mail_telefono:hover {
	font-family: "ptn57f";
	text-decoration: line-through;
	color: rgb(0, 0, 0);
}


#SpanTextosContacto-mail_telefono {
    float: none;
    font-size: 1em;
    line-height: 1em;
}

#textosContacto-mail_telefono:hover {
    text-decoration: none;
}

/* css correspondiente a seccion HOME */

#Box-home {
    float: none;
    height: 100%;
    clear: none;
    width: 100%;
    background-image:-webkit-linear-gradient(140deg, rgb(0, 242, 233) 0%, rgb(255, 0, 167) 54%, rgb(255, 255, 0) 100%);
    background-image: linear-gradient(310deg, rgb(0, 242, 233) 0%, rgb(255, 0, 167) 54%, rgb(255, 255, 0) 100%);
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    min-height: 480px;
    max-height: none;
    padding-bottom: 0px;
    max-width: none;
    position: absolute;
    top: 0px;
    left: 0%;
    bottom: auto;
    display: block;
}

#textoSomos-home {
	float: left;
	font-size: 14px;
	width: 90px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 120%;
	margin-left: 20px;
	margin-top: 20px;
	clear: none;
	min-height: 105px;
	font-family: "ptn57f";
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: rgb(0, 0, 0);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	letter-spacing: 1px;
}


#Box_gifAnimado-home {
    float: left;
    height: 50%;
    clear: left;
    width: 100%;
    display: block;
    min-width: 0px;
    min-height: 0px;
    position: absolute;
    top: 165px;
    left: 0%;
}

#gifAnimado-home {
    float: none;
    width: auto;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

/* css correspondiente a sección NOSOTROS */


#Box-nosotros {
    float: none;
    height: 100%;
    clear: none;
    width: 100%;
    background-image:-webkit-linear-gradient(140deg, rgb(0, 242, 233) 0%, rgb(255, 0, 167) 45%, rgb(255, 255, 0) 100%);
    background-image: linear-gradient(310deg, rgb(0, 242, 233) 0%, rgb(255, 0, 167) 45%, rgb(255, 255, 0) 100%);
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    min-height: 480px;
    max-height: none;
    padding-bottom: 0px;
    max-width: none;
    position: static;
    top: 0px;
    left: 0px;
    display: block;
    margin-top: 0px;
    margin-right: 0%;
    margin-left: 0%;
}

#N_deNosotros {
	float: left;
	font-size: 14px;
	width: 90px;
	height: auto;
	text-align: center;
	font-weight: normal;
	line-height: 120%;
	margin-left: 20px;
	margin-top: 20px;
	clear: none;
	min-height: 105px;
	font-family: "ptn57f";
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: rgb(0, 0, 0);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	letter-spacing: 1px;
	display: block;
	margin-right: 0%;
}

#Span-Nmayuscula {
    float: none;
    font-size: 72px;
    line-height: 150%;
    text-decoration: none;
}

#texto1creemosIndex-nosotros {
	float: none;
	font-size: 12px;
	width: 50%;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	margin-left: auto;
	margin-top: 20px;
	clear: none;
	min-height: 0px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	max-width: 380px;
	margin-right: auto;
}

#texto1somosIndex-nosotros {
	float: none;
	font-size: 16px;
	width: 50%;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	margin-left: auto;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	margin-right: auto;
	min-width: 0px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	max-width: 380px;
}

#Box-ofrecemos-nosotros {
    float: left;
    height: auto;
    clear: both;
    width: 79.994592%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 60px;
    margin-left: 9.987158%;
    margin-right: 0px;
}

#Box_Diseño-nosotros {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    width: 160px;
}

#subtituloDiseño {
	float: left;
	font-size: 16px;
	width: 120px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-bottom: 2px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#listaServiciosDiseño {
	float: left;
	font-size: 12px;
	width: 160px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	margin-left: 0%;
	margin-top: 10px;
	clear: both;
	min-height: 0px;
	margin-bottom: 20px;
	font-family: "ptn57f";
}

#Box_Interactividad-nosotros {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: none;
    width: 160px;
    display: block;
    margin-right: 0%;
}

#subtituloInteractividad {
	float: left;
	font-size: 16px;
	width: 120px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-bottom: 2px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	border-bottom-width: 1px;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: solid;
}

#listaServiciosInteractividad {
    float: left;
    font-size: 12px;
    width: 160px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 150%;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    min-height: 0px;
    margin-bottom: 20px;
    font-family: pt-sans-narrow;
}

#Box_Desarrollo-nosostros {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: none;
    width: 160px;
    display: block;
    margin-right: 0%;
}

#subtituloDesarrollo {
	float: left;
	font-size: 16px;
	width: 120px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-bottom: 2px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-width: 1px;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
}

#listaServiciosDesarrollo {
	float: left;
	font-size: 12px;
	width: 160px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	margin-left: 0%;
	margin-top: 10px;
	clear: both;
	min-height: 0px;
	margin-bottom: 20px;
	font-family: "ptn57f";
}

#tituloOfrecemos-nosotros {
	float: left;
	font-size: 35px;
	width: 100%;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 120%;
	margin-left: 0.18602488%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	display: block;
	margin-right: 0%;
	margin-bottom: 80px;
}

#Box_proceso-nosotros {
    float: left;
    height: auto;
    margin-left: 9.988839%;
    margin-top: 80px;
    clear: none;
    width: 79.99897%;
    display: block;
    margin-right: 0%;
    position: relative;
}

#tituloProceso-nosotros {
	float: left;
	font-size: 35px;
	width: 100%;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 120%;
	clear: none;
	min-height: 0px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	letter-spacing: 2px;
	display: block;
	color: rgb(0, 0, 0);
	position: static;
	top: 0px;
	left: 0px;
	margin-bottom: 80px;
	font-family: "ptn57f";
}

#Box_conocimiento-nosotros {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    width: 260px;
    display: block;
    margin-right: 0%;
}

#SubtituloCONOCIMIENTO {
	float: left;
	font-size: 16px;
	width: 240px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-bottom: 2px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#texto_parrafoCONOCIMIENTO {
	float: left;
	font-size: 16px;
	width: 240px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	margin-left: 0%;
	margin-top: 10px;
	clear: both;
	min-height: 0px;
	margin-bottom: 20px;
	font-family: "ptn57f";
	letter-spacing: 1px;
}

#Box_planeacion-nosotros {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: none;
    width: 260px;
    display: block;
    margin-right: 0%;
}

#SubtituloPLANEACIÓN {
	float: left;
	font-size: 16px;
	width: 240px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-bottom: 2px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#texto_parrafoPLANEACION {
	float: left;
	font-size: 16px;
	width: 240px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	margin-left: 0%;
	margin-top: 10px;
	clear: both;
	min-height: 0px;
	margin-bottom: 20px;
	font-family: "ptn57f";
	letter-spacing: 1px;
}

#Box_creacion-nosotros {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: none;
    width: 260px;
    display: block;
    margin-right: 0%;
}

#SubtituloCREACION {
	float: left;
	font-size: 16px;
	width: 240px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-bottom: 2px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#texto_parrafoCREACION {
	float: left;
	font-size: 16px;
	width: 240px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	margin-left: 0%;
	margin-top: 10px;
	clear: both;
	min-height: 0px;
	margin-bottom: 20px;
	font-family: "ptn57f";
	letter-spacing: 1px;
}

#Box_retroalimentacion-nosotros {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: none;
    width: 260px;
    display: block;
    margin-right: 0%;
}

#subtituloRETROALIMENTACIÓN {
	float: left;
	font-size: 16px;
	width: 240px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	padding-bottom: 2px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#texto_parrafoRETROALIMENTACION {
	float: left;
	font-size: 16px;
	width: 240px;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	margin-left: 0%;
	margin-top: 10px;
	clear: both;
	min-height: 0px;
	margin-bottom: 20px;
	font-family: "ptn57f";
	letter-spacing: 1px;
}

#SpanOfrecemos-nosotros {
    float: none;
    font-size: 35px;
}

#Box_gif-nosotros {
    float: none;
    height: 200px;
    margin-left: auto;
    margin-top: 190px;
    clear: none;
    width: 79.998455%;
    margin-right: auto;
    max-width: none;
    margin-bottom: 40px;
    min-height: 0px;
}

#Box_gif2-nosotros {
    float: left;
    height: 192px;
    margin-left: 9.982877%;
    margin-top: 60px;
    clear: both;
    width: 79.998455%;
}


#gif2-nosotros {
    float: none;
    width: auto;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
    min-height: 0px;
}

#gif1-nosotros {
    float: none;
    width: 400px;
    max-width: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
    min-width: 300px;
    min-height: 0px;
}

#textoCajaNegraContacto {
	float: left;
	font-size: 10px;
	width: 80%;
	height: auto;
	text-align: center;
	font-weight: normal;
	line-height: 150%;
	margin-left: 9.987158%;
	margin-top: 50px;
	clear: both;
	min-height: 0px;
	min-width: 0px;
	margin-right: 0px;
	font-family: "ptn57f";
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	background-color: rgb(0, 0, 0);
	color: rgb(0, 242, 233);
	letter-spacing: 2px;
	text-decoration: underline;
	margin-bottom: 150px;
	display: block;
}

#textoCajaNegraContacto:hover {
    text-decoration: line-through;
}

/* css correspondiente a sección TRABAJOS */

#Box-Trabajos {
    float: none;
    height: auto;
    clear: none;
    width: 100%;
    min-height: 480px;
    max-height: none;
    padding-bottom: 0px;
    max-width: none;
    position: absolute;
    top: 0px;
    left: 0%;
    bottom: auto;
    display: block;
    background-color: rgb(230, 230, 230);
}

#T_deTrabajos {
	float: left;
	font-size: 14px;
	width: 90px;
	height: auto;
	text-align: center;
	font-weight: normal;
	line-height: 120%;
	margin-left: 20px;
	margin-top: 20px;
	clear: none;
	min-height: 105px;
	font-family: "ptn57f";
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: rgb(0, 0, 0);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	letter-spacing: 1px;
	display: block;
	margin-right: 0%;
}

#SpanTmayuscula-trabajos {
    float: none;
    font-size: 72px;
    line-height: 150%;
    text-decoration: none;
}

#texto_estamosEnConstruccion {
	float: none;
	font-size: 66px;
	width: 80%;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: auto;
	margin-top: 190px;
	clear: none;
	min-height: 416px;
	min-width: 0px;
	margin-right: auto;
	font-family: "ptn57f";
	color: rgb(0, 0, 0);
	letter-spacing: 2px;
	padding-bottom: 150px;
}

#Span_TextoEstamosTrabajando-trabajos {
	float: none;
	font-size: 60px;
	line-height: 1em;
}

#Span_textoVuelvaPronto {
    float: none;
    font-size: 35px;
    line-height: 1em;
    text-decoration: overline;
}

/* css correspondiente a sección CONTACTO */

#Box-contacto {
    float: none;
    height: auto;
    clear: none;
    width: 100%;
    background-image:-webkit-linear-gradient(140deg, rgb(255, 0, 167) 0%, rgb(0, 242, 233) 100%);
    background-image: linear-gradient(310deg, rgb(255, 0, 167) 0%, rgb(0, 242, 233) 100%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    min-height: 480px;
    max-height: none;
    padding-bottom: 0px;
    max-width: none;
    position: absolute;
    top: 0px;
    left: 0%;
    bottom: auto;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#Box_Formulario {
    float: none;
    height: auto;
    clear: none;
    width: 80%;
    display: block;
    min-width: 0px;
    min-height: 0px;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto;
}

#N_-formulario {
	float: left;
	font-size: 16px;
	width: 15px;
	height: 24px;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	margin-right: 0%;
	padding: 3px;
	font-family: "ptn57f";
}

#texto_nombre-formulario {
	float: left;
	font-size: 12px;
	width: 95.578182%;
	height: 24px;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 1.655658%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	margin-right: 0%;
	padding: 3px;
	font-family: "ptn57f";
	letter-spacing: 2px;
}

#Group_nombre-formulario {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 83.703525%;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-right: auto;
}

#Group_email-formulario {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    width: 83.703525%;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    margin-right: auto;
}

#_-formulario {
	float: left;
	font-size: 16px;
	width: 15px;
	height: 24px;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	margin-right: 0%;
	padding: 3px;
	font-family: "ptn57f";
}

#texto_email-formulario {
	float: left;
	font-size: 12px;
	width: 95.578182%;
	height: 24px;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 1.655658%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	margin-right: 0%;
	padding: 3px;
	font-family: "ptn57f";
	letter-spacing: 2px;
}

#Group_telefono-formulario {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    width: 83.703525%;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    margin-right: auto;
}

#numero-formulario {
	float: left;
	font-size: 16px;
	width: 15px;
	height: 24px;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	margin-right: 0%;
	padding: 3px;
	font-family: "ptn57f";
}

#texto_telefono-formulario {
	float: left;
	font-size: 12px;
	width: 95.578182%;
	height: 24px;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 1.655658%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	margin-right: 0%;
	padding: 3px;
	font-family: "ptn57f";
	letter-spacing: 2px;
}

#subtuloMENSAJE {
	float: left;
	font-size: 1em;
	width: auto;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	min-height: 0px;
	font-family: "ptn57f";
	letter-spacing: 2px;
	margin-right: 0%;
}

#texto_nombre-formulario:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#texto_email-formulario:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#texto_telefono-formulario:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#Box_textoMensaje-formulario {
    float: none;
    height: 120px;
    margin-left: auto;
    margin-top: 26px;
    clear: none;
    width: 99.998673%;
    margin-right: auto;
    border: 1px solid rgb(0, 0, 0);
}

#texto_mensaje-formulario {
	float: none;
	font-size: 14px;
	width: 97.177186%;
	height: auto;
	text-align: left;
	font-weight: normal;
	line-height: 1em;
	margin-left: auto;
	margin-top: 1%;
	clear: none;
	min-height: 0px;
	display: block;
	margin-right: auto;
	font-family: "ptn57f";
	letter-spacing: 2px;
}

#cajaENVIAR {
	float: none;
	font-size: 16px;
	width: 99.998673%;
	height: auto;
	text-align: center;
	font-weight: normal;
	line-height: 1em;
	margin-left: auto;
	margin-top: 10px;
	clear: none;
	min-height: 38px;
	min-width: 0px;
	margin-right: auto;
	padding: 10px;
	font-family: "ptn57f";
	letter-spacing: 4px;
	background-color: rgb(0, 0, 0);
	color: rgb(0, 242, 233);
}

#cajaENVIAR:hover {
    text-decoration: line-through;
    background-color: rgb(95, 0, 225);
}

#Box_textoMensaje-formulario:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#Group_mensaje-formulario {
    float: left;
    height: auto;
    margin-left: 8.148238%;
    margin-top: 54px;
    clear: none;
    width: 83.70111%;
    margin-bottom: 150px;
}

#C_deContacto {
	float: left;
	font-size: 14px;
	width: 90px;
	height: auto;
	text-align: center;
	font-weight: normal;
	line-height: 120%;
	margin-left: 20px;
	margin-top: 20px;
	clear: none;
	min-height: 105px;
	font-family: "ptn57f";
	padding: 5px;
	color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 1px;
	letter-spacing: 1px;
	display: block;
	margin-right: 0%;
}

#SpanC_mayuscula {
    float: none;
    font-size: 72px;
    line-height: 150%;
    text-decoration: none;
}

#SpanContacto {
    float: none;
    font-size: 10px;
    line-height: 1em;
}
