{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/boilerplate.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleinddex.css'%}">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">

</head>

<body>
    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="Box-contacto" class="clearfix">
            <p id="C_deContacto">
                <span id="SpanC_mayuscula">C.</span>
                <br />
                <span id="SpanContacto">Contacto</span>
            </p>
            <div id="Box_logo" class="clearfix">
                <a href="{% url 'home' %}">
                    <img id="logotipoInddex" src="{% static 'img/inddex%20logo.svg'%}" class="image" />
                </a>
                <div id="Box_menu" class="clearfix">
                    <a id="texto_NOSOTROS" href="{% url 'nosotros' %}">
                        . NOSOTROS
                    </a>
                    <a id="texto_TRABAJO" href="{% url 'trabajos' %}">
                        . NUESTRO TRABAJO
                    </a>
                    <p id="texto_CONTACTENOS">
                        .CONTACTENOS
                    </p>
                </div>
            </div>

            <form id="Box_Formulario" class="clearfix" method="POST">{% csrf_token %}

                <div id="Group_nombre-formulario" class="clearfix">
                    <label id="N_-formulario">N&#x3a;</label>
                    <input type="text" id="texto_nombre-formulario" placeholder="escriba aqui su nombre." />
                </div>
                <div id="Group_email-formulario" class="clearfix">
                    <label id="_-formulario" for="mail">&#x40;&#x3a;</label>
                    <input type="email" id="texto_email-formulario" placeholder="escriba aqui su email" . />
                </div>

                <div id="Group_telefono-formulario" class="clearfix">
                    <label id="numero-formulario">&#x23;&#x3a;</label>
                    <input type="text" id="texto_telefono-formulario" placeholder="escriba aqui su numero." />{{ contacto.telefono }}
                </div>

                <div id="Group_mensaje-formulario">
                    <label id="subtuloMENSAJE">MENSAJE</label>
                    <textarea id="Box_textoMensaje-formulario" class="clearfix" id=" msg ">

                    </textarea>


                <div >
            		<button id="cajaENVIAR" type="submit " value="Submit ">Enviar</button>
            	</div>
                </div>

            </form>





            <div id="Box_redesSociales" class="clearfix">
                <a href="https://twitter.com/inddexco" target="_blank">
                    <img id="iconoTwitter_inddex" src="{% static 'img/social-twitter-inddex.svg' %}" class="image" />
                </a>
                <a href="https://www.facebook.com/inddex/" target="_blank">
                    <img id="iconoFacebook_inddex" src="{% static 'img/social-facebook-inddex.svg' %}" class="image" />
                </a>
                <a href="https://www.instagram.com/inddexco/" target="_blank">
                    <img id="iconoInstagram_inddex" src="{% static 'img/social-instagram-inddex.svg' %}" class="image" />
                </a>
            </div>
            <p id="textosContacto-mail_telefono">
                <a id="SpanTextosContacto-mail_telefono" href="mailto:hello@inddex.co" target="_blank">hello&#x40;inddex.co</a>
                <br />&#x28;&#x2b;57&#x29; 3138536947
            </p>


        </div>
    </div>

</body>