{% load static %}<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/boilerplate.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleinddex.css'%}">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">

</head>

<body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="Box-Trabajos" class="clearfix">
            <p id="T_deTrabajos">
                <span id="SpanTmayuscula-trabajos">T.</span>
                <br />Trabajos
            </p>
            <div id="Box_logo" class="clearfix">
                <a href="{% url 'home' %}">
                    <img id="logotipoInddex" src={%static '/img/inddex logo.svg' %} class="image" />
                </a>
                <div id="Box_menu" class="clearfix">
                    <a id="texto_NOSOTROS" href="{% url 'nosotros' %}">
                        . NOSOTROS
                    </a>
                    <p id="texto_TRABAJO">
                        . NUESTRO TRABAJO
                    </p>
                    <a id="texto_CONTACTENOS" href="{% url 'contacto' %}">
                        . CONTACTENOS
                    </a>
                </div>
            </div>
            <p id="texto_estamosEnConstruccion">
                <span id="Span_TextoEstamosTrabajando-trabajos">ESTAMOS TRABAJANDO PARA MOSTRARLE LO MEJOR DE NOSOTROS.</span>
                <br>
                <span id="Span_textoVuelvaPronto">vuelva pronto.</span>&nbsp;
                <br>
                <br> :+)
                <br>
            </p>
            <div id="Box_redesSociales" class="clearfix">
                <a href="https://twitter.com/inddexco" target="_blank">
                    <img id="iconoTwitter_inddex" src={%static '/img/social-twitter-inddex.svg' %} class="image' %} />
                </a>
                <a href="https://www.facebook.com/inddex/" target="_blank">
                    <img id="iconoFacebook_inddex" src={%static '/img/social-facebook-inddex.svg'%} class="image" />
                </a>
                <a href="https://www.instagram.com/inddexco/" target="_blank">
                    <img id="iconoInstagram_inddex" src={%static '/img/social-instagram-inddex.svg' %} class="image" />
                </a>
            </div>
            <p id="textosContacto-mail_telefono">
                <a id="SpanTextosContacto-mail_telefono" href="mailto:hello@inddex.co" target="_blank">hello&#x40;inddex.co
                    <br />
                </a>&#x28;&#x2b;57&#x29; 3138536947
            </p>
        </div>
    </div>
</body>

</html>